
---
layout: base.njk
---
<article class="card {% if pinned %}pinned{% endif %}">
  <h2>{{ title }}</h2>
 <p class="muted">
  Veröffentlicht am {{ date | date("%d.%m.%Y") }}
  {% if expires %} · gültig bis {{ expires | date("%d.%m.%Y %H:%M") }}{% endif %}
</p>
  <div class="content">
    {{ content | safe }}
  </div>
  {% if files %}
  <div class="files">
    <h3>Dateien</h3>
    <ul>
      {% for f in files %}
      <li><a href="{{ f.file }}" target="_blank" rel="noopener">🔗 {{ f.file | url | split('/') | last }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</article>
